name: nuxt-feedme

x-defaults: &defaults
  image: node:24.8.0-alpine3.22
  working_dir: /project
  volumes:
    - ./:/project
  depends_on:
    install:
      condition: service_completed_successfully

services:
  install:
    <<: *defaults
    depends_on: []
    command: [yarn, install]

  runtime:
    <<: *defaults
    command: [yarn, run, dev, --host, '0.0.0.0']
    ports:
      - '3000:3000'
    profiles: [develop]

  prepack:
    <<: *defaults
    command: [yarn, run, prepack]
    profiles: [prepack]

  generate:
    <<: *defaults
    environment:
      SCRIPT: |
        if test -d /project/playground/.output; then
          echo 'Output directory already exist, skipping...'
          exit 0
        fi

        yarn run dev:generate
    command: sh -c 'eval "$$SCRIPT"'
    profiles: [test]

  test:
    <<: *defaults
    command: [yarn, run, vitest, run]
    depends_on:
      generate:
        condition: service_completed_successfully
    profiles: [test]
