# yaml-language-server: $schema=../schema.workflow.json

on:
  workflow_call:

jobs:
  tests:
    name: 'Run tests for ${{ github.ref }} with ${{ matrix.node-version }}'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        node-version: [20.19.5, 22.20.0, 24.9.0]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - run: yarn install

      - run: yarn run dev:prepare

      - run: yarn run test

      - run: yarn run prepack
